.search {
  padding: 0px 20px;
}


.searchForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background: #f3f3f3;
  opacity: 1;
  z-index: 10;
  transition: 0.6s;

  input {
    width: 100%;
    padding: 20px 20px;
    outline: none;
    border: none;
    font-size: 18px;
  }

  .container {
    background: #d1daef;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
  }

  ul {
    list-style: none;
  }

  li {
    padding: 10px 20px;
    border-radius: 10px;
  }
}


.hide {
  opacity: 0;
  z-index: -1;
}